# build folders
.vs
.vscode
/build

# test folders and results
/build_c++11
/build_c++14
/build_c++17
/build_c++20
/results_c++11
/results_c++14
/results_c++17
/results_c++20
/code_gen/__pycache__/*.pyc
/ctle_code_gen/__pycache__
status.h
fwd.h
prop.h
ntup.h
/ctle/_macros.inl
/ctle/_undef_macros.inl
/unit_tests/unit_tests_variants.cpp
/code_gen/ctlepy/__pycache__/*.pyc
/unit_tests/ctlepy_tests/outputs
/pypi_dist/LICENSE
/pypi_dist/README.md
/pypi_dist/dist
/pypi_dist/pyproject.toml
/pypi_dist/setup.cfg
/pypi_dist/src

ntup.h
/code_gen/random_value_output
